*{
    font-family: "Noto Sans KR", sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;                
    color: #000;
}

.mainpage_bg {
    background:url("image/bg_sub1.png") no-repeat 50%;
    background-size: cover;
    height: 389px;
    text-align: top; 
}

.header {
    display: flex;
    width: 1500px;
    margin: auto;
    height: 86px;
}

/* searcharea 
.searcharea {
    width: 250px;
    height: 40px;
    background:rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 25px;   
}

.searcharea > form > input {
    border: none;
    width:200px;
    height: 40px;
    background:rgba(0,0,0,0.0);
    color: #fff;
    padding-left:10px;
    font-size: 18px;

}
 
.searcharea > form > span {
    width: 50px;
    color: #fff;
    cursor: pointer;
} */



/* PC 버전 */
.navbar_main {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: #fff;
    z-index: 999;
    animation: navbarBottom 1s forwards;
}

.navbar_links {
    margin-right: 10%;
    

}

.navbar_links > a {
    text-decoration: none;
    color: #fff;
    margin-right: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
}

.navbar_links a:last-child {
    margin-right: 0;
}
  
  .navbar_links a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #792626;
    transform: scale(1.2) translateY(3px);
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    
}
  
  .navbar_links a:hover::before {
    width: 100%;
    left: 0;
  }
  
  .navbar_logo {
    margin-left: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 500;
  }
  
  .navbar_scroll {
    background-color: transparent;
    z-index: 5;
    border-bottom: 1px solid gray;
  }
  
  .navbar_scroll div a {
    color: white;
  }
  
  .navbar_scroll a {
    color: white;
  }
  
  @keyframes navbarBottom {
    0% {
      transform: translateY(-70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

/* 모바일 버전 입력*/
.navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}
  
  .navbar_burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    color: #FFF;
}
  
  .navbar_burger_back {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    color: #fff;
}
  
  .navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #0e0e0e;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(100%);
    z-index: 999;
    color: #000;
    transition: transform 0.3s ease;
}
  
  .navbar_menu a {
    position: relative;
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    text-decoration: none;
}
  
  .navbar_menu.active {
    transform: translateX(0);
}
  
  .navbar_overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* .navbar_links > a:hover { */
     /* transform: scale(1.2) translateY(3px); 아래로 10px 이동하여 슬라이드 효과 */
    /* color: #ff9900; 호버 시 텍스트 색상 변경 
} 


/* .contents1 {
    font-size: 20px;
    font-family: sans-serif;   
}

.contents1_bold {
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px; 
}

.contents1_bold2 {
    
    font-size: 19px;
    font-weight: bold;
    margin-top: 40px;
}


.contents2 {
    /* margin-top: 5px; 
    font-size: 24px;
    font-family: sans-serif;
    
} */


.status {
    width: 1000px;
    margin: auto;
}

.status ul { 
    position: relative;
    top:-60px;
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

    border-radius: 10px;
}

.status  li {  
    flex: 1;
    height: 130px;    
}

.status li div,
.status li dl {
    text-align: center;
    margin-top: 22px;
    font-size: 20px;
}

.status li:not(:last-child) div,
.status li:not(:last-child) dl {
    border-right: 1px solid #E1E1E1;
}

.status ul div .title { 
    padding: none;
    text-align: center;
    
}

.status ul div .value { 
    padding: none;
    text-align: center;
    
}

/* .status li dl dt {
    color: black;
}

.status li dl dd {
    color: black;
} */


.header_title{
    width: 95%;
    margin: 23px auto 100px auto;    
    
}

.header_title > h1{
    font-size: 70px;    
    position: absolute;
    /*right: 120px;
    width: 86.3%;
    animation: slide 2s ease-out;*/
}

.header_title > h4{
    margin-top: 100px;
     font-size: 33px;
     position: absolute;
     /*right: 120px;
     animation: slide 2s ease-out;*/
          
     
}

.header_title > h1,
.header_title > h4 {    
    color: #fff;
    right: 120px;
    animation: slide 2s ease-out;
    
}

@keyframes slide {
    from{
        right:-300px;
        opacity: 0;
    }
    to{
        right: 120px;
        opacity: 1;
    }
}



/* main_text0 */

.sub_title {
    width: 100%;
    height: 670px;
    margin-top: -132px;
    background: rgb(227, 226, 226);
}

.sub_title > h1 {
    font-size: 35px;
    padding-top: 110px;
    text-align: center;
    /*font-family: sans-serif;*/
    
}

.sub_title > .sub_title2 {
    text-align: center;
    padding-top: 30px;
    
    
}

.icons {
    display: flex;
    width: 1450px;    
    margin: auto;
    

}

.icons > li {
    flex: 5;
    height:  280px;
    background: white;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: transform 0.3s;
}

.icons > li:hover {
    transform: scale(1.2);
}


.icons > li > .icon_img {
    margin-top: 36px;
    transition: transform 0.3s; /* 호버 효과를 부드럽게 만들기 위한 transition 추가 */
    
}

.icons > li > .icon_img_ins {
    margin-top: 55px;
    transition: transform 0.3s; /* 호버 효과를 부드럽게 만들기 위한 transition 추가 */
    
}

.icons > li > .icon_img:hover {
    transform: scale(1.2); /* 호버 시 아이콘 크기 확대 */
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons > li > .icon_menu {
    font-size:18px;
    font-weight: bold;
    margin-top: 18px;
}

.icons > li > .icon_menu_ins {
    font-size:18px;
    font-weight: bold;
    margin-top: 30px;
}

.footer > p {
    font-size: 15px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width:1024px) {
    /* PC 버전 CSS 입력*/
    .navbar_overlay {
        display: none;
    }

    .navbar_burger {
        display: none;
    }

    .navbar_menu {
        display: none;
    }

    .status { 
        width: 100%;
    }

    .icons {
        display: inline-block;
        width: 100%;
    }

}

@media screen and (max-width:991.98px) {
    /* 모바일 버전 CSS 입력*/
    .navbar_main {
        display: none;
    }

    .status ul { 
        display: block;
        top: 0;
        margin-top: 10px;
    }

    .status ul li {
        height: 50px;
        min-height: 50px;
        line-height: 50px;
    }

    .status ul dl { 
        display: flex;
        top: 0;
        margin-top: 10px;
    }

    .status ul dl dt  { 
        padding: 5px 10px;
        text-align: right;
    }

    .status ul dl dd  { 
        padding: 5px 10px;
        text-align: left;
    }

    .status li:not(:last-child) div, .status li:not(:last-child) dl {
        border-right: none;
    }

    .status ul div .title  { 
        padding: 5px 10px;
        text-align: right;
    }

    .status ul div .value { 
        padding: 5px 10px;
        text-align: left;
    }


    .status ul > li > div { 
        display: flex;
        top: 0;
        margin-top: 10px;
    }


    .footer > P {
        bottom: 0;
    }
}